@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1116px;
    width: 100%;
    margin: auto;
}
.navigation {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.logo_img {
    width: 40px;
    height: 40px;
}
.logo_text {
    width: 190px;
    height: 43px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005FA3;
    margin-left: 30px;

}

.input {
    display: flex;
    justify-content: space-between;
}
.input_item {
    margin-right: 40px;
}
.input_item:nth-child(4) {
    margin-right: 0;
}
.input_text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    width: 113px;
    height: 18px;
    margin-left: 15px;
}

.nav_item {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    
}
.nav {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.main {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/Rectangle.png);
    
    height: 670px;
    margin-top: 31px;
}
.h1-main {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
    padding-top: 170px;
    padding-right: 521px;
}
.button-primary {
    width: 270px;
    height: 60px;
    background: #005FA3;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 25px;
    border: none;
    margin-top: 80px;
}
.dots {
    margin-top: 120px;
}
.slider_img {
    margin-left: 828px;
    
}
.slider_img2 {
    margin-right: 0px;
}
.section-second {
    height: 1242px;
    background: #EBEBEB;
}
.title1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    padding-top: 140px;
}
.title2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 102px;
}
.card {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/img/buildings.png);
    width: 350px;
    height: 360px;
    display: flex;
    align-items: end;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 45px;
    padding-bottom: 45px;
    margin-bottom: 30px;
}
.card:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(/img/buildings.png);
}
.card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-third {
    height: 844px;
}
.title-text {
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-top: 40px;
    width: 347px;
    height: 117px;
}
.title-text2 {
    color: #005FA3;
}
.main-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 60px;
    width: 445px;
    height: 245px;  
}

.cards {
    width: 255px;
    height: 255px;
    background: #EBEBEB;
}
.number {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 30px;
}
.text-number {
    font-family: 'Lato', sans-serif;
    width: 170px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding-left: 40px;
    padding-top: 30px;
}
.link-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    padding-left: 40px;
    padding-top: 47px;
    color: #005FA3;
}
.cards:nth-child(4) {
    color:white;
    background: #005FA3;
}
.link-text4 {
    color: white;
}
.section {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 541px;
    height: 545px;
    margin-top: 163px;
}
.section_fourth {
    background: #EBEBEB;
}

.microsoft {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.left-arrow-1, .right-arrow-1 {
    width: 60px;
    height: 60px;
    padding: 22px 25px;
    
}
.title-our-1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    padding-top: 100px;
    margin-bottom: 40px;
}
.fourth-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}
.title-text1 {
    width: 483px;
    height: 47px;
}
.slider {
    width: 160px;
    display: flex;
    justify-content: space-between;
}
.dot {
    width: 10px;
}
.dot:nth-child(3) {
    width: 10px;
    height: 10px;
    margin-top: 24px;
}
.fourth-arrow {
    display: flex;
}
.section-fifth {
    height: 900px;
}
.review {
    background: #EBEBEB;
    width: 1110px;
    height: 320px;
}
.review-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 45px;
}
.author-review {
    padding-left: 95px;
    padding-top: 58px;
    display: flex;
}
.name {
    padding-left: 35px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    flex-wrap: nowrap;
}
.work-name {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
    flex-wrap: nowrap;
    padding-left: 35px;
    padding-top: 10px;
}
.slider-third {
    padding-top: 100px;
}
.slider_img3 {
    margin-left: 828px;
}
.footer {
    height: 100px;
    background: #EBEBEB;
    display: flex;
    justify-content: space-between;
}
.text1 {
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    margin-left: 407px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.text2 {
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    margin-right: 405px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.contact {
    margin: 140px;
    height: 623px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/Rectangle.png), #C4C4C4;
}
.contact-h {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    padding-top: 122px;
}
.contact-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin-top: 60px;
    width: 445px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.telnmail {
    width: 500px;
    display: flex;
    margin-top: 79px;
}
.tel-img {
    width: 18px;
    height: 30px;
}
.mail-img {
    width: 36px;
    height: 30px;
}
.tel {
    height: 30px;
    display: flex;
}
.telnum {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 15px;
    justify-content: center;
}
.mail {
    padding-left: 40px;
    height: 30px;
    display: flex;
}
.mail1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 15px;
    justify-content: center;
}
.sixth_section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Rectangle.png), #C4C4C4;
}

.sixth-title {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.text-sixth {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 80px;
    width: 470px;
}

.up-block {
    padding-top: 122px;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.tel6, .mail6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
}

.num, .mail {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    width: 270px;
    height: 60px;
    border: none;
}

.block-sixth {
    display: flex;
    justify-content: space-between;
}

.contact-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.fname-input, .sname-input, .textarea {
    border-bottom: 1px solid #FFFFFF;
}

.label-name, .label-sname, .textarea-label {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 15px; 
}
input, textarea {
    border: none;
    background: none;
    outline: none;
    resize: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #fff;
}
.button {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 140px;
}
@media (max-width: 1115px) {
    .slider_img {
        margin-left: 100px;
    }
    .nav_main {
        margin-right: 50px;
    }
    .text1 {
        margin-left: 50px;
    }
    .text2 {
        margin-right: 50px;
    }
}
@media (max-width: 1041px) {
    .section-third {
        margin-top: 200px;
    }
    .cards-main {
        display: none;
    }
    .microsoft {
        flex-wrap: wrap;
    }
    .left-arrow-1 {
        margin-right: 200px;
    }
    .right-arrow-1 {
        margin-right: 200px;
    }
    .review {
        width: 946px;
    }
}
@media (max-width: 970px) {
    .block-sixth {
        flex-wrap: wrap;
    }
    form {
        margin-top: 50px;
    }
    .navigation {
        flex-wrap: wrap;
    }
    .review {
        width: 946px;
    }
}
@media (max-width: 946px) {
    .kf {
        display: none;  
    }
    .slider-third {
        display: none;
    }
    .review {
        width: 646px;
    }
}
@media (max-width: 775px) {
    .input {
        display: none;
    }
    .nav_main {
        flex-wrap: wrap;
    }
    .nav_item {
        padding-right: 10px;
    }
    .review {
        width: 646px;
    }
}
@media (max-width: 700px) {
    .card {
        height: 300px;
        width: 300px;
    }
    .review {
        width: 646px;
    }
}
@media (max-width: 646px) {
    .review {
        width: 500px;
    }
}
@media (max-width: 600px) {
    .card {
        height: 250px;
        width: 250px;
    }
}
@media (max-width: 500px) {
    .card {
        height: 175px;
        width: 175px;
        padding: 0;
        font-size: 15px;
    }
    .review-text {
        font-size: 12px;
    }
}